@charset "utf-8";
body{position: relative;}
#header{width: 100%; height: 5.20833%; text-align: center;}
#header h1{padding-top: 0.9375%; padding-bottom: 1.66666%;}

@media all and (max-width: 768px){
#header{width: 100%; height: 50px; position: fixed;top:0;left:0;z-index: 99; background: #fff;}
#header h1{position: absolute;top: 50%;left: 2.604166%; transform: translateY(-50%);}
.util{display: none;}
}


.util{position: fixed; top: 40.83333%; left: -6.5104%; transform: rotate(90deg);vertical-align: inherit;flex-wrap: wrap;z-index: 19;} /* top 400px * left: -20px/
/* rotate 사용시 position 값을 주고 사용하면 위치값이 벗어나지 않아서 보이지 않는 것을 수정할 수있음 gnb 사용시 유의 */
.util li{padding:10px 0;vertical-align: middle; /* text-align: text-align: -webkit-match-parent;  */display: inline-block; margin-left: 0.78125vw; font-size: 1rem; font-weight: 600;}
.ham_wrap{position: fixed; top: 20.8333vw; right: 1VW; z-index: 999;}
.ham{position:relative;width: 1.5vw;height:2px; font-size: 0; background: #000;transition: width 0.5s; cursor: pointer;}
.ham::before{content:'';position: absolute; top: 0.78125vw; right: 0; width: 2.5vw; height: 2px; background: #000;}
.ham::after{content:'';position: absolute; top: -0.78125vw; right: 0; width: 2.5vw; height: 2px; background: #000;}
.ham_wrap:hover .ham{width: 2vw;}

@media all and (max-width:768px){
    .ham_wrap{position: fixed; top: 3.202083333%;right: 5%;}
    .ham{width: 20px; height: 2px;}
    .ham::before{content:'';position: absolute; top: 1.4vw; right: 0; width: 20px; height: 2px; background: #000;}
    .ham::after{content:'';position: absolute; top: -1.4vw; right: 0; width: 20px; height: 2px; background: #000;}
}

@media all and (max-width:768px) {
    .util{position: fixed; top: 20.833vw; left:-14%; transform: rotate(90deg);vertical-align: inherit;flex-wrap: wrap;z-index: 19;} /* top 400px * left: -20px/
/* rotate 사용시 position 값을 주고 사용하면 위치값이 벗어나지 않아서 보이지 않는 것을 수정할 수있음 gnb 사용시 유의 */
    .util li{padding:5px 0;vertical-align: middle; font-size: 0.625rem;/* text-align: text-align: -webkit-match-parent;  */margin-left: 0.390625vw; font-weight: 100;}
}


.gnb{position:fixed;top:0; left:0;width:100vw; height: 100vh; background: #A4A4A4; z-index: 9999;}
.gnb .search{border: 1px solid #000;width: 31.25%; height: 2.60416666vw; position: absolute; top: 10.6770833vw; left: 50%; transform: translateX(-50%); text-align: center; color: #707070;}
.gnb .close_wrap{position: absolute; top: 12vw; right: 31%; cursor: pointer;}
.gnb .close_wrap .close{width: 25px; height: 2px; background: #fff; font-size: 0; transform: rotate(45deg);position: relative;}
.gnb .close_wrap .close::after{width: 25px; height: 2px; background: #fff; font-size: 0; transform: rotate(-90deg);position: absolute; top: 0;left: 0; content: '';}
.gnb .gnb1{position: absolute; top: 15.7291666666666vw;left: 50%; transform: translateX(-50%); display: flex; justify-content: space-between;}
.gnb .gnb1>li{margin-right: 40px; text-align:   center;}
.gnb .gnb1 li a{color: #707070;}
.gnb .gnb1 li:last-child{margin-right: 0;}
.gnb .gnb1 .depth2{width: 100%; text-align: center;}
.gnb .gnb1 .depth2 li{padding-top: 20px;}
.gnb .gnb1 .depth2 li:hover a{color: #fff;}
.gnb .mobile_util{display:none;}
@media all and (max-width:768px){
    .gnb{position:fixed;top: 0;left:0;width: 100vw;height: 100vh; background: rgba(0,0,0,0.7); z-index: 9999;}
    .gnb .search{width: 70%;position: absolute; top: 10%; left: 50%; height: 7vw; font-size: 11px;}
    .gnb .close_wrap{position: absolute; top: 3%;right: 5%;}
    .gnb .gnb1{position: absolute; top: 15%; right:-18%;flex-wrap: wrap; font-size: 14px;}
    .gnb .gnb1>li{text-align: left; margin-right: 0; width: 100%; padding: 15px 0; position: relative;}
/*     .gnb .gnb1>li::after{content: '';width: 10px; height: 10px; background:url(../ACC/x.png) no-repeat center center; position: absolute; top: 20px; left: 56%;} */
    .gnb .gnb1>li::before{content: ''; width: 60%;height: 1px; background: #fff; position: absolute; left: 0; top: 50px;}
    .gnb .gnb1 .depth2 li{text-align: left;}
    .gnb .gnb1 .depth2 li a{color: #ffff;}
    .gnb .mobile_util{position: absolute; top: 4%; left: 0%; display: flex; justify-content: space-between; width: 100%;}
    .gnb .mobile_util li{padding: 10px 20px; text-align: center;}
    .gnb .mobile_util li a{color: #fff;}
}

#banner{width:89.58333vw;height: 100%; margin: 0 auto;margin-bottom: 7.8125%;position:relative;} /* width: 1600px */
#banner img{width: 100%; display: block;}
#banner .slick-dots{position: absolute; bottom: 4%; left: 50%; transform: translateX(-50%);}
#banner .slick-dots li{float: left; width: 10px; height: 10px; border-radius: 50%; background: transparent; border: 1px solid #999; padding: 0; margin: 0 5px;}
#banner .slick-dots li button{font-size: 0; border: 0; background: transparent; color: transparent; width: 0; height: 0; padding: 0; margin: 0;}
#banner .slick-dots .slick-active{background: #000; padding: 0; border-radius: 50%;margin: 0 0.26041666vw;}
#banner .mobile_banner{display: none;}
.items{width:89.5833333vw; height:31.875%;margin: 0 auto; position: relative; margin-bottom: 7.8125%; display: flex; justify-content: space-between;}
.items .slick-list{margin-right: -2.7041666vw;}
.items .slick-slide{margin-right: 2.6041666vw;}
.items .slick-prev{position: absolute; top: 50%; left: 2.6041666%; font-size: 0;background: url(../ITEMS/prev.png) no-repeat center center; width: 2.08333333333VW; height: 2.08333333333vw; background-color: transparent; border: 0; z-index: 99; transform: translateY(-50%);} 
.items .slick-next{position: absolute; right: 2.6041666%; top: 50%; font-size: 0;background: url(../ITEMS/NEXT.png) no-repeat center center; width: 2.08333333333VW; height: 2.08333333333vw; background-color: transparent; border: 0; z-index: 99;transform: translateY(-50%);}
.items img{width: 100%; height: 100%;}
@media all and (min-width:769px) and (max-width:1280px){
    #banner .mobile_banner{display: none;}
}
@media all and (max-width: 768px) {
    #banner{width:100%;margin: 0 auto;position:relative; margin-bottom: 2.6041%;} 
    #banner img{width:100%;display: block; height: 100vh;}
    #banner .pc_banner{display: none; position: relative;}
    #banner .mobile_banner{display:block;}
    #banner .slick-dots{position: absolute; bottom: 4%; left: 50%; transform: translateX(-50%);}
    #banner .slick-dots li{float: left; width: 10px; height: 10px; border-radius: 50%; background: transparent; border: 1px solid #fff; padding: 0; margin: 0 0.52vw;}
    #banner .slick-dots li button{font-size: 0; border: 0; background: transparent; color: transparent; width: 0; height: 0; padding: 0; margin: 0 0.52vw;}
    .mobile_banner .slick-next{position: absolute; top: 50%; right: 0%; transform: translateY(-50%); font-size: 0; width: 50px; height: 50px; background: url(../banner/NEXT.png) no-repeat center center transparent;z-index: 19; border: 0;}
    .mobile_banner .slick-prev{position: absolute; top: 50%; left: 0; transform: translateY(-50%); z-index: 19; font-size: 0; width: 50px; height: 50px; background: url(../banner/prev.png) no-repeat center center transparent; border: 0;}
    .items{width:100vw; height:100%;margin: 0 auto; position: relative; margin-bottom: 7.8125%;}
    .items .slick-list{margin-right:0;}
    .items .slick-slide{margin-right:0;}
    .items .slick-prev{position: absolute; top: 50%; left: 2.6041666%;width:50px; height: 50px; font-size: 0;background: url(../ITEMS/prev.png) no-repeat center center;background-color: transparent; border: 0; z-index: 20; transform: translateY(-50%);} 
    .items .slick-next{position: absolute; right: 2.6041666%; top: 50%;width: 50px; height: 50px; font-size: 0;background: url(../ITEMS/NEXT.png) no-repeat center center;background-color: transparent; border: 0; z-index: 20;transform: translateY(-50%);}
    .items img{width: 100%; height: 100%;}
}



#visual{width: 89.58333vw; height: 33.8541666666666vw; margin: 0 auto; margin-bottom: 7.8125%; display: flex; justify-content: space-between;}
#visual .visual1{width: 57.29166vw; position: relative;}
#visual .visual1 a img{width: 100%; display: block;}
#visual .visual2{width: 29.6875vw;display: flex; flex-wrap: wrap;flex-direction: column;}
#visual .visual2 li:first-child{height: 7.083333333vw;}
#visual .visual2 li a img{width: 100%;display: block;}
#visual .visual2 .visual3{width: 100%; display: flex; justify-content: space-between; margin-top: 2.60416666vw;}
#visual .visual2 .visual3 li:first-child{margin-right: 2.604166666%;}
#visual .visual2 .visual3 li {height: 24.16666666vw;}
#visual .visual2 .visual3 li a img{height: 100%;}
#visual .visual2 .mobile_visual2{display: none;}
#visual .visual3 .mobile_slick{display: none;}
#visual .visual3 .mobile_visual3{display: none;}
.visual1 .slick-dots{position: absolute; bottom: 4%; left: 50%; transform: translateX(-50%);}
.visual1 .slick-dots li{float: left; width: 8px; height: 8px; border-radius: 50%; background: transparent; border: 1px solid #ffff; padding: 0; margin: 0 5px;}
.visual1 .slick-dots li button{font-size: 0; border: 0; background: transparent; color: transparent; width: 0; height: 0; padding: 0; margin: 0;}
.visual1 .slick-dots .slick-active{background: orange; padding: 0; border-radius: 50%;margin: 0 5px; border: 0;}
/* visual mobile */

@media all and (max-width: 768px){
    #visual{width: 100vw; height: 100%; display: flex;flex-wrap: wrap; align-items: flex-start; justify-content: space-between;}
    #visual .visual1{width: 100%; position: relative;}
    #visual .visual1 img{width: 100%; height: 23.75%;} 
    .visual1 .slick-dots{position: absolute; bottom: 8%; left: 50%; transform: translateX(-50%);}
    .visual1 .slick-dots li{float: left; width: 8px; height: 8px; border-radius: 50%; background: transparent; border: 1px solid #ffff; padding: 0; margin: 0 5px;}
    .visual1 .slick-dots li button{font-size: 0; border: 0; background: transparent; color: transparent; width: 0; height: 0; padding: 0; margin: 0;}
    .visual1 .slick-dots .slick-active{background: orange; padding: 0; border-radius: 50%;margin: 0 5px; border: 0;}
    #visual .visual2{width: 100%;}
    #visual .visual2 li:first-child{height: 9.53125%;}
    #visual .visual2 .mobile_visual2{display: block;margin: 5.2083333% 0;}
    #visual .visual2 .pc_visual2{display: none; background: #f19043;}
    #visual .visual3 .mobile_visual3{display: block;}
    #visual .visual3 .mobile_visual3 img{width: 100%; height: 100%;}
    #visual .visual2 .visual3{display: flex;justify-content: space-between; flex-wrap: wrap;height: 100%;}
    #visual .visual2 .visual3 li{width: 100%}
    #visual .visual2 .visual3 li:first-child{margin-right: 0;}
}
/* visual mobile */



#sns {width: 89.5833333333vw; margin: 0 auto; height: 100%;}
#sns .sns_wrap{display: flex; justify-content: space-between;height: 23.75vw;}
#sns .sns_wrap li{background: #eee;width:calc(89.5833333333%/5); margin-left: 2.08333%;position: relative;}
#sns .sns_wrap li:first-child{margin-left: 0;}
#sns .sns_wrap li img{width: 100%;}
#sns .sns_wrap .last{position: relative;}
#sns .sns_wrap .last a dl{position: absolute; top: 50%; left: 0;transform:translateY(-50%); text-align: center; color:#fff; width: 100%;}
#sns .sns_wrap .last dl dt{padding: 10px 0;}

@media all and (max-width:768px){
    #sns .sns_wrap .mobile_sns{display: none;}
    #sns{width: 100vw; height: 100%;}
    #sns .sns_wrap{display: flex;height: 23.75VW; padding: 0;flex-wrap: wrap; height: 100%;}
    #sns .sns_wrap li{margin-left: 0;position: relative; width: 49%; background: transparent;}
    #sns .sns_wrap li img{width: 100%; height: 100%;}

}





#event{width: 100%; height: 31.25vw; background: #999; margin-top: 7.8125%;}
#event img{width: 100%; height: 31.25vw;}
#event .event1{position: relative;}
#event .event1 a{position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); color: #eee; font-size: 1rem; border: 3px solid #eee; padding: 10px; display: inline-block;}
#event .mobile_event{display: none;}

@media all and (max-width:1280px) and (min-width:769px){

}
@media all and (max-width:768px){
    #event{width: 100%; height: 100vh; background: #999; margin-top: 7.8125%;}
    #event  .event_wrap{display: none;}
    #event  .mobile_wrap{display: block;}
    #event img{width: 100%; height: 100vh;}
}

@media all and (hover: hover) {
    #event .event1 a:hover {border: 3px solid aqua; color: aqua;}
}
    
#footer{width: 100%; height: 10.416666vw; background: #DFDFDF; margin-top: 7.8125%;}
#footer .inner{width: 62.5vw; margin: 0 auto; position: relative;}
#footer .footer_util{position: absolute; top: 1.5625vw; left: 0;}
#footer .footer_util li{float: left; margin-right: 1.04166vw; position: relative;}
#footer .footer_util li::before{content: ''; width: 1px; height: 0.8854166vw; position: absolute; top: 0.35625vw; left: -0.520833vw; background: #707070;}
#footer .footer_util li:first-child::before{content: ''; width: 0; height: 0;}
#footer .company_wrap{position: absolute; top: 4.270833vw; left: 0;}
#footer .company_wrap address, .company{color: #707070;}
#footer .footer_sns{position: absolute; right: 0; top: 1.5625vw;}
#footer .footer_sns li{float: left;margin-right: 20px; width: 20px; height: 20px; font-size: 0; border-radius: 50%;}
#footer .footer_sns li:nth-child(3){background: #1da1f2;}
#footer .footer_sns li:nth-child(2){background: linear-gradient(#f19043,#9b2eba);}


@media all and (max-width:768px){
#footer{width: 100%;height: 150px; background: #DFDFDF; margin-top: 7.8125%; font-size: 11px;}
#footer .inner{width: 100%; margin: 0 auto; position: relative;}
#footer .footer_util{position: absolute; top: 5vw; left: 10px;}
#footer .footer_util li{float: left; margin-right: 2.04166vw; position: relative; font-size: 10px;}
#footer .footer_util li::before{content: ''; width: 1px; height: 10px; position: absolute; top: 0.7625vw; left: -1.20833vw; background: #707070;}
#footer .footer_util li:first-child::before{content: ''; width: 0; height: 0;}
#footer .company_wrap{position: absolute; top: 44px; left: 10px;}
#footer .company_wrap address, .company{color: #707070;}
#footer .footer_sns{position: absolute;left: 10px; top: 120px;}
#footer .footer_sns li{float: left;margin-right: 20px; width: 20px; height: 20px; font-size: 0; border-radius: 50%;}
#footer .footer_sns li:nth-child(3){background: #1da1f2;}
#footer .footer_sns li:nth-child(2){background: linear-gradient(#f19043,#9b2eba);}
            
}
